@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'technology-dark';

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $dark-background-color;
}

* {
    font-family: $poppins-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav a:hover {
    opacity: 0.7;
}

.nav a,
.nav-toggle {
    color: $dark-font-color;
    font-weight: 600;
    font-size: 0.84em;
    text-decoration: none;
}

h1 {
    font-family: $written-font;
}

p {
    margin-top: 7px;
}

.hidden {
    display: none !important;
}

.icon-c {
    color: $light-font-color;
}

.icon-title {
    display: inline-block;
    color: $dark-font-color;
    opacity: 0.5;
}

.logo {
    margin: 0 70px 0 30px;

    img {
        width: 80px;
        height: 80px;
        display: inline;
    }

    a img {
        border-radius: 40px;
        width: 175px;
        height: 175px;
    }
}

.title {
    height: 180px;
    width: 300px;
    text-align: start;

    a {
        text-decoration: none;
    }

    a h1 {
        font-size: 5.3em;
        margin-bottom: 5px;
        margin-top: 0;
        text-align: start;
    }

    a p {
        font-size: 1.5em;
        margin-left: 5px;
    }
}

.frontp-container {
    margin-top: 120px;
    position: relative;
    //outline: 3px red solid;
    display: flex;
    align-items: center;
    margin-left: 40px;
    justify-content: flex-start;
    padding-bottom: 80px;
}

.content-front {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    color: $dark-font-color;
    font-size: 1.6em;
    
    h1 {
        font-family: 'EB Garamond', serif;
    }
}

.btn-wrapper {
    display: flex;
    flex-direction: row;

    button {
        margin: 0 10px 10px 0;
        border-radius: 10px;
        padding: 1.1em;
        font-size: 0.6em;
        border: 3px solid $light-button-color;
        font-weight: 600;
        color: $light-button-color;
        background-color: $dark-background-color;
        cursor: pointer;
        transition: 0.3s;
        color: $white-color;
    }

    :nth-child(1) {
        background-color: $light-button-color;
        color: $white-color;
    }

    :nth-child(1):hover {
        opacity: 0.7;
    }

    :nth-child(2):hover {
        background-color: $light-button-color;
        color: $white-color;
    }
}

.work-white {
    color: $white-color;
}

.work-container {
    background-color: $dark-background-alternative-color;
    display: flex;
    
    .work-box {
        margin-left: 68px;
        padding: 0 1em;
        margin-bottom: 60px;
    }

    h1 {
        font-family: 'EB Garamond', serif;
    }
}

.work-item {
    height: 150px;
    background-color: $white-color;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
    h1,
    p {
        margin-left: 20px;
        font-family: $poppins-font;
    }

    h1 {
        font-size: 1.2em;
        color: $light-font-color-darker;
        margin-bottom: 0;
        margin-left: 20px;
    }

    p {
        margin-top: 10px;
        font-weight: 600;
        font-size: 0.6em;
        color: $light-font-color;
        width: 210px;
    }

    p a {
        text-decoration: none;
        color: $light-button-color;
        font-size: 1.2em;
    }

    a:hover {
        opacity: 0.7;
    }

    img {
        width: 250px;
        height: 100%;
        margin-left: 25px;
        border-radius: 10px;
    }
}


.text-work {
    padding-right: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.me-img {
    position: absolute;
    bottom: 0;
    left: 700px;
    width: auto;
    max-width: 600px;
    filter: contrast(180%);
}

.wrapper-result {
    padding: 15px;
    background-color: $dark-background-alternative-color;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    h2 {
        text-align: center;
        padding: 5px;
        color: $white-color;
        text-decoration: underline;
    }
}

.result-img {
    max-width: 100%;
    max-height: 100%;
}

.reference-list > li {
    margin-bottom: 10px;
    list-style: none;
}

.text {
    display: flex;
    margin-top: 15px;
    flex-direction: column;

    img {
        margin-left: 20px;
    }
}

.underline h1 {
    margin-bottom: 0;
}

.underline::after {
    content: '';
    display: block;
    max-width: 30px;
    height: 1px;
    border: 5px;
    background-color: rgb(104, 104, 175);
}

.footer {
    background-color: $dark-background-alternative-darker;
    margin-top: auto;
    display: flex;
    max-height: 50px;
    align-items: center;
    margin-bottom: 0;
    padding: 20px;
    border-top: 0.5px solid rgba(172, 159, 141, 0.082);

    .social {
        margin-left: auto;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: $white-color;
        font-size: 24px;
    }

    a:hover {
        opacity: 0.5;
    }
}

.active a {
    border-bottom: 1px solid $dark-font-color;
}

.main-text {
    //outline: 3px solid red;
    margin: 8% auto;
    width: 60%;
    color: $white-color;
}

.data-show {
    width: 100%;
    height: 300px;
}

//gallery

.center-gall {
    margin: 8% auto;
    width: 80%;
    margin-top: 8%;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    a {
        display: inline-block;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.credit {
    color: $white-color;

    a {
        color: $white-color;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 650px) {
    .gallery-container {
        grid-template-columns: 100%;
    }

    .center-gall {
        width: 100%;
    }
}

@media(min-width: 1500px) {
    .main-text {
        width: 50%;
    }

    .me-img {
        position: absolute;
        bottom: 0;
        left: 1000px;
        width: auto;
        max-width: 600px;
    }
}


@media(max-width: 925px) {
    .main {
        width: auto;
        height: 100%;
    }

    .me-img {
        display: none;
    }
}

@media(max-width: 629px) {
    .work-item img {
        display: none;
    }
    
}

@media(max-width: 272px) {
    .footer {
        flex-direction: column;
        max-height: 60px;
        height: auto;
    }
}

@media(max-width: 447px) {
    .btn-wrapper {
        flex-direction: column;

        button {
            align-self: start;
        }
    }

}


@media(max-width: 768px) {
    .active a {
        border-bottom: 2px solid #2c6e7c;
    }
}

@media(min-width: 1548px) {
    .work-container {
        height: 55vh;
    }
}

@media(min-height: 3000px) {
    .work-container {
        height: 80vh;
    }
}
