.col-span-2 {
    grid-column: span 2;
}

.col-span-3 {
    grid-column: span 3;
}

.technology-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-width: 800px;
    margin: 8% auto;
}

.h-div:hover {
    transform: scale(0.97);
}

.grid-title {
    margin-top: 60px;
    text-align: center;
    font-family: $poppins-font;
    color: #a084cf;
}

.border-rad {
    border-radius: 20px;
}

.technology-container > div {
    background-color: #eee;
    padding: 1em;

    h1 {
        font-family: $poppins-font;
        color: #000;
    }
}

.technology-container > div:nth-of-type(1) {
    background-color: #56b1a8;
    align-items: center;
}

.technology-container > div:nth-of-type(2) {
    background-color: #a5c0f1;
}

.technology-container > div:nth-of-type(3) {
    background-color: #24c95b;
}

.technology-container > div:nth-of-type(4) {
    background-color: #7e81b6;
}

.technology-container > div:nth-of-type(5) {
    background-color: #ffacc7;
}

.technology-container > div:nth-of-type(6) {
    background-color: #ffb9b9;
}

.technology-container > div:nth-of-type(7) {
    background-color: #b8e8fc;
}

.technology-container > div:nth-of-type(8) {
    background-color: #5ec3b5;
}

/**individual tech*/

.language-html {
    padding: 0;
}

.s-tech-container {
    height: 30vh;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(8, 10%);
    line-height: 1.4;
    margin-bottom: 20px;
}

.tech-sidebar {
    height: 25vh;
    grid-column: 2/3;
    padding: 20px;

    p a {
        text-decoration: none;
        margin-bottom: 10px;
    }

    p {
        padding-bottom: 10px;
    }

    a {
        color: #403931;
    }

    a:hover {
        opacity: 0.7;
    }
}

.side-bar-wrapper {
    padding: 10px;
}

.tech-info {
    grid-column: 4/7;
    
    h1 {
        margin-top: 0;
    }

    p {
        margin-bottom: 20px;
    }
}

@media(max-width: 550px) {
    .tech-sidebar {
        display: none;
    }

    .tech-info {
        grid-column: 3/9;
    }

    .technology-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}
