$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #f9e8d4;
$background-alternative-color: #62b0a5;
$written-font: 'Playfair Display', serif;
$poppins-font: 'Poppins', sans-serif;
